<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <form action="/nouveauContact" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom">
        <label for="email">Adresse mail :</label>
        <input type="text" id="email" name="email">
        <label for="message">Message :</label>
        <textarea name="message" id="message"></textarea>
        <input type="submit">
    </form>
</body>
</html>